version: '3.8'

services:
  email-service:
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - POSTMARK_API_TOKEN=${POSTMARK_API_TOKEN}
      - POSTMARK_FROM_EMAIL=${POSTMARK_FROM_EMAIL}
